<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/style_L.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
  </head>
  <body>
    <div class="data">
      <h1>Ingrese Tarjeta</h1>
      <form action="/verifyTarjeta" method="post">
        <label for="NumeroTarjeta">Numero Tarjeta</label>
        <input id="NumeroTarjeta" type="number" name="NumeroTarjeta" placeholder="Ingrese su Tarjeta"></br>
        <label for="PrimerApellido">PrimerApellido</label>
        <input id="PrimerApellido" type="text" name="PrimerApellido" placeholder="Ingrese sus apellidos">
        <label for="SegundoApellido">SegundoApellido </label>
        <input id="SegundoApellido" type="text" name="SegundoApellido" placeholder="Ingrese sus apellidos">
        <label for="MMAA">MMAA</label>
        <input id="MMAA" type="number" name="MMAA" placeholder="Ingrese sus apellidos">
        <label for="CVV">CVV</label>
        <input id="CVV" type="number" name="CVV" placeholder="Ingrese sus apellidos">
        <label for="Nombre">Nombre</label>
        <input id="Nombre" type="text" name="Nombre" placeholder="Ingrese sus apellidos">
        <label for="Email">Email</label>
        <input id="Email" type="text" name="Email" placeholder="Ingrese sus apellidos">
        <input type="submit" value="REGISTRARSE">
      </form>
    </div>
  </body>
</html>