<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/style_L.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
  </head>
  <body>
    <div class="box-side"><img src="/images/logodog.png" alt="" srcset="">
      <hr>
      <p id="name">Venatas</p>
      <hr>
      <div id="enlace"><a href="/login">Regresar a login</a></div>
    </div>
    <div class="data">
      <h1>REGISTRARSE</h1>
      <form action="/verifyregister" method="post">
        <label for="Nombres">Nombres</label>
        <input id="Nombres" type="text" name="Nombres" placeholder="Ingrese sus nombres"></br>
        <label for="PrimerApellido">primero Apellidos</label>
        <input id="PrimerApellido" type="text" name="PrimerApellido" placeholder="Ingrese sus apellidos">
        <label for="SegundoApellido ">Segundo Apellidos</label>
        <input id="SegundoApellido " type="text" name="SegundoApellido " placeholder="Ingrese sus apellidos">
        <label for="DNI">DNI</label>
        <input id="DNI" type="text" name="DNI" placeholder="Ingrese su DNI">
        <label for="FechadeNac">Fecha de Nacimiento</label>
        <input id="FechadeNac" type="date" name="FechadeNac" placeholder="Ingrese sus apellidos">
        <label for="Email">Email</label>
        <input id="Email" type="text" name="Email" placeholder="Ingrese sus apellidos">
        <label for="Password">Contraseña</label>
        <input id="Password" type="password" name="Password" placeholder="Ingrese sus apellidos">
        <label for="Ciudad">Ciudad</label>
        <input id="Ciudad" type="text" name="Ciudad" placeholder="Ingrese sus apellidos">
        <input type="submit" value="REGISTRARSE">
      </form>
    </div>
  </body>
</html>