<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="styles/styles_panel.css">

</head>
<body>
    

<!-- products section ends -->

<!-- categories section starts  -->

<section class="categories" id="categories">

    <h1 class="heading"> Mis Compras y Mi carrito <span>categories</span> </h1>

    <div class="box-container">
        <ul>
          <% products.forEach(function(product){ %>
              <li>Producto <%= product.Nombre %></li>
              <li>Producto <%= product.Cantidad %></li>
              <a href='/UpdateProductCarrito/<%= product.ID %>' >Editar</a>
              <a href='/DeleteProductdeCarrito/<%= product.ID %>' >Eliminar</a>
          <%  }); %>
        </ul>
        <a href='/HacerPedido' >Hacer Pedido</a>
    </div>

</section>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>