<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="styles/styles_panel.css">

</head>
<body>
    
<header class="header">

    <a href="#" class="logo"> <i class="fas fa-shopping-basket"></i> groco </a>

    <nav class="navbar">
        <a href="#home">Inicio</a>
        <a href="/VerCarrito">Carrito de Compras</a>
        <a href="/productos">Productos</a>
        <a href="/categorias">Categorias</a>
        <a href="/VerPedidos">Pedidos</a>
    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-user" id="login-btn"></div>
    </div>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

</header>

<div class="container">

</div>


<section class="home" id="home">

  

</section>

<!-- home section ends -->

<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading">Mis <span>Pedidos</span> </h1>

    <div class="box-container">
        <table class="table center" style="width: 100%; font-size: 30px;" >
            <tr>
                <th scope="col">ID</th>
                <th scope="col">DNI</th>
                <th scope="col">Total</th>
                <th scope="col">Cancelar</th>
            </tr>
            <% pedidos.forEach(result=>{ %>
            <tr>
                <th scope="row"> <%= result.ID %> </td>
                <th scope="row"> <%= result.DNI_Usuario %> </td>
                <th scope="row"> <%= result.Total %> </td>
               <th><a href='/InsertarTarjeta' >Cancelar</a></th> 
            </tr>
            <% }); %>
        </table>
    </div>

</section>