<!--<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/style_L.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
  </head>
  <body>

    <div class="data">
      <h1>REGISTRARSE</h1>
      <form action="/verifylogin" method="post">
        <label for="Email">Email</label>
        <input id="Email" type="text" name="Email" placeholder="Ingrese sus apellidos">
        <label for="Password">Contraseña</label>
        <input id="Password" type="password" name="Password" placeholder="Ingrese sus apellidos">
        <input type="submit" value="Login">
      </form>
    </div>
  </body>
</html>

-->



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="styles/styles_l.css" />
    <title>Tienda</title>
  </head>
  <body>
  



<!--<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/style_L.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
  </head>
  <body>

    <div class="data">
      <h1>REGISTRARSE</h1>
      <form action="/verifylogin" method="post">
        <label for="Email">Email</label>
        <input id="Email" type="text" name="Email" placeholder="Ingrese sus apellidos">
        <label for="Password">Contraseña</label>
        <input id="Password" type="password" name="Password" placeholder="Ingrese sus apellidos">
        <input type="submit" value="Login">
      </form>
    </div>
  </body>
</html>

-->

    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">



        
            <form action="/AddCarrito/<%= producto1.ID %>" method="post" class="sign-in-form">
              <h2 class="title"><%= producto1.Nombre %></h2>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input id="Cantidad" name="Cantidad" type="number" placeholder="Cantidad" />
              </div>
              <input type="submit" value="Add" class="btn solid" />
              <a href='/VerCarrito' >Ver Carrito</a>
            </form>


        
    <script src="js/app.js"></script>
  </body>
</html>
